<!DOCTYPE html>
<html>
<head>
  <title>Packs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div class="user_nav">
      <% if logged_in? %>
        <span class="nav_message">Logged in as <%= current_user.email %>. </span> 
        <span class="nav_actions"> <%= link_to "Log out", logout_path %> </span> 
      <% else %>
        <span class="nav_actions"><%= link_to "Sign up", signup_path %> or
        <%= link_to "Log in", login_path %> </span>
      <% end %>
      <% flash.each do |name, msg| %>
        <div class="nav_error"><%= content_tag :div, msg, :id => "flash_#{name}" %> </div>
      <% end %>
    </div>
   <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
